# Mongo
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_DB=mydb
MONGO_COLLECTION=products

# Auth Odoo
ODOO_USER=test@web.com
ODOO_PASS=test123
ODOO_DB=OdooSite

# Scraping
BASE_URL=https://web.com
PAGE_DELAY_MS=1500
CATEGORY_DELAY_MS=5000

#Webhook
WEBHOOK_URL=http://tu-backend.com/webhook/scraper-result
