# Mongo
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
MONGO_DB=mydb
MONGO_COLLECTION=products

# Auth Odoo
ODOO_USER=test@web.com
ODOO_PASS=test123
ODOO_DB=OdooSite

# Scraping
BASE_URL=https://web.com
PAGE_DELAY_MS=1500
CATEGORY_DELAY_MS=5000

#Webhook
WEBHOOK_URL=http://tu-backend.com/webhook/scraper-result

PORT=3001

GLOBAL_SITEMAP_LIMIT=100
SITEMAP_COLLECTION=sitemap_analysis
SITEMAP_URL=http://web.com/sitemap.xml

CLOUDINARY_API_SECRET=11111
CLOUDINARY_CLOUD_NAME=11111
CLOUDINARY_API_KEY=11111